@charset "UTF-8";
/* CSS Document */

body, td {
	font-size: 9pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#maindiv {
	width:1024px;
	height:768px;
	border:1px dashed #999999;
	margin: 0px auto;
	position:relative;
}

#topheader {
	position:absolute;
	left:0px;
	top:0px;
	height: 30px;
	width: 900px;
	border-bottom: 1px dashed #999;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	letter-spacing:2em;
}

#kontenliste {
	position:absolute;
	left:0px;
	top:30px;
	border-right:1px dashed #999;
	width:150px;
	height: 688px;
}

#actionbox {
	position: absolute;
	left: 0px;
	top: 718px;
	border-top: 1px dashed #999;
	border-right:1px dashed #999;
	width: 150px;
	height: 50px;
}

#gkontenliste {
	position:absolute;
	right:0px;
	top:30px;
	width:150px;
	height:738px;
	overflow:auto;
	border-left:1px dashed #999;
}

#buchungneu {
	position:absolute;
	left:150px;
	bottom: 0px;
	border-top:1px dashed #999;
	width:724px;
	height: 70px;
}

#buchungen {
	position:absolute;
	left:150px;
	top:30px;
	width:724px;
	height:668px;
	overflow:auto;
}

#datechooser {
	position:absolute;
	left:900px;
	top:0px;
	height:30px;
	width:124px;
	border-bottom:1px dashed #999;
	border-left:1px dashed #999;
}

.ausgabe {
	color:#CC0000;
}

.einnahme {
	color:#339900;
}

.ktoname {
	font-weight:bold;
}

.ktosumme {
	text-align:right;
}

.bold {
	font-weight:bold;
}

.clickable {
	cursor:pointer;
}

#newktodiv {
	width: 350px;
	height: 80px;
	position:absolute;
	left: 337px;
	top:344px;
	border: 1px solid black;
	background-color:#FFFFFF;
	z-index:500;
}

#datechs {
	width: 100%;
	border: 0px;
	height:100%;
	text-align:center;
	vertical-align:middle;
}

#kalender {
	background-color: #fff;
	position: absolute;
	left: 150px;
	bottom: 70px;
	display: none;
}

.inplaceeditor-form input {
	width: 100%;
	border: 1px solid black;
}

.guv_ueberschrift {
	font-weight: bold;
	font-size: 10pt;
}

.guv_sumline {
	border-top: 1px solid black;
}